In [128]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

First, we'll make the Natality data by year into a data frame.

In [130]:
path_to_file = '../data/natality_data/Natality2010-2023.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if  not ("Total" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
natality_df = pd.read_csv(path_to_file_csv)
natality_df = natality_df.rename(columns={'Census Division': 'Division'})
natality_df.Division = natality_df.Division.apply(lambda x: x[12:])
natality_df  = natality_df[['Division','Year','Births']]
natality_df.head()

      Division  Year  Births
0  New England  2010  153817
1  New England  2011  153040
2  New England  2012  151063
3  New England  2013  149829
4  New England  2014  150146

Now, we'll bring in five risk factors for the mother (i.e. chronic hypertension, diabetes, enclampsia, pregnancy-associated hypertension, and tobacco use).

In [131]:
# adding chronic hypertension
path_to_file = '../data/natality_data/Natality_risk_chronic_hypertension.txt'
path_to_file_csv = '../data/natality_data/Natality_risk_chronic_hypertension.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
chronic_hypertension_df = pd.read_csv(path_to_file_csv)
chronic_hypertension_df = chronic_hypertension_df.rename(columns={'Births': 'ChronicHypertensionBirths'})
natality_df['ChronicHypertensionBirths']  = chronic_hypertension_df['ChronicHypertensionBirths']
natality_df.head()

      Division  Year  Births  ChronicHypertensionBirths
0  New England  2010  153817                     2484.0
1  New England  2011  153040                     2522.0
2  New England  2012  151063                     2474.0
3  New England  2013  149829                     2407.0
4  New England  2014  150146                     2604.0

In [132]:
#adding diabetes
path_to_file = '../data/natality_data/Natality_risk_diabetes.txt'
path_to_file_csv = '../data/natality_data/Natality_risk_diabetes.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
diabetes_df = pd.read_csv(path_to_file_csv)
diabetes_df = diabetes_df.rename(columns={'Births':'DiabetesBirths'})
natality_df['DiabetesBirths']  = diabetes_df['DiabetesBirths']
natality_df.head()

      Division  Year  Births  ChronicHypertensionBirths  DiabetesBirths
0  New England  2010  153817                     2484.0          8737.0
1  New England  2011  153040                     2522.0          9307.0
2  New England  2012  151063                     2474.0          9794.0
3  New England  2013  149829                     2407.0          9549.0
4  New England  2014  150146                     2604.0          9587.0

In [133]:
#adding enclampsia
path_to_file = '../data/natality_data/Natality_risk_enclampsia.txt'
path_to_file_csv = '../data/natality_data/Natality_risk_enclampsia.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
enclampsia_df = pd.read_csv(path_to_file_csv)
enclampsia_df = enclampsia_df.rename(columns={'Births':'EnclampsiaBirths'})
natality_df['EnclampsiaBirths']  = enclampsia_df['EnclampsiaBirths']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths
0,New England,2010,153817,2484.0,8737.0,1291.0
1,New England,2011,153040,2522.0,9307.0,641.0
2,New England,2012,151063,2474.0,9794.0,516.0
3,New England,2013,149829,2407.0,9549.0,180.0
4,New England,2014,150146,2604.0,9587.0,299.0

In [134]:
#adding pregnancy-associated hypertension
path_to_file = '../data/natality_data/Natality_risk_pregnancy-associated_hypertension.txt'
path_to_file_csv = '../data/natality_data/Natality_risk_pregnancy-associated_hypertension.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
PAH_df = pd.read_csv(path_to_file_csv)
PAH_df = PAH_df.rename(columns={'Births':'Pregnancy-AssociatedHypertensionBirths'})
natality_df['Pregnancy-AssociatedHypertensionBirths']  = PAH_df['Pregnancy-AssociatedHypertensionBirths']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0

In [135]:
#adding tobacco use
path_to_file = '../data/natality_data/Natality_risk_tobacco_use.txt'
path_to_file_csv = '../data/natality_data/Natality_risk_tobacco_use.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
tobacco_df = pd.read_csv(path_to_file_csv)
tobacco_df = tobacco_df.rename(columns={'Births':'TobaccoUseBirths'})
natality_df['TobaccoUseBirths']  = tobacco_df['TobaccoUseBirths']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0

Now, we add birthplace data

In [136]:
#adding birthplace
path_to_file = '../data/natality_data/Natality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
#adding in hospital births
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("In Hospital" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
hosp_df = pd.read_csv(path_to_file_csv)
hosp_df = hosp_df.rename(columns={'Births':'HospitalBirths'})
natality_df['HospitalBirths']  = hosp_df['HospitalBirths']

In [137]:
#adding in freestanding birth center births
path_to_file = '../data/natality_data/Natality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Freestanding Birth Center" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
FBC_df = pd.read_csv(path_to_file_csv)
FBC_df = FBC_df.rename(columns={'Births':'BirthCenterBirths'})
natality_df['BirthCenterBirths']  = FBC_df['BirthCenterBirths']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0

In [138]:
#adding in residence births
path_to_file = '../data/natality_data/Natality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Residence" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
res_df = pd.read_csv(path_to_file_csv)
res_df = res_df.rename(columns={'Births':'ResidenceBirths'})
natality_df['ResidenceBirths']  = res_df['ResidenceBirths']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116

Now, we add in delivery attendants

In [139]:
#adding in MD delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Doctor of Medicine(MD)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
md_df = pd.read_csv(path_to_file_csv)
md_df = md_df.rename(columns={'Births':'MD_Delivery'})
natality_df['MD_Delivery']  = md_df['MD_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0

In [140]:
#adding in Doctor of Osteopathy(DO) delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Doctor of Osteopathy(DO)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
do_df = pd.read_csv(path_to_file_csv)
do_df = do_df.rename(columns={'Births':'DO_Delivery'})
natality_df['DO_Delivery']  = do_df['DO_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0

In [141]:
#adding Certified Nurse Midwife delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Certified Nurse Midwife(CNM/CM)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
cnm_df = pd.read_csv(path_to_file_csv)
cnm_df = cnm_df.rename(columns={'Births':'CNM_Delivery'})
natality_df['CNM_Delivery']  = cnm_df['CNM_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0

In [142]:
#adding Other Midwife Delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Other Midwife" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
om_df = pd.read_csv(path_to_file_csv)
om_df = om_df.rename(columns={'Births':'OtherMidwife_Delivery'})
natality_df['OtherMidwife_Delivery']  = om_df['OtherMidwife_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181

In [143]:
#adding Other Delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Other" in line) and not("Midwife" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
om_df = pd.read_csv(path_to_file_csv)
om_df = om_df.rename(columns={'Births':'Other_Delivery'})
natality_df['Other_Delivery']  = om_df['Other_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683,325
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239,295
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643,355
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376,336
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181,427

In [144]:
#adding Unknown Delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unknown" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
unknown_df = pd.read_csv(path_to_file_csv)
unknown_df = unknown_df.rename(columns={'Births':'Unknown_Delivery'})
natality_df['Unknown_Delivery']  = unknown_df['Unknown_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683,325,54.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239,295,667.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643,355,59.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376,336,124.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181,427,87.0

In [145]:
#adding Unknown Delivery
path_to_file = '../data/natality_data/Natality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unknown" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
unknown_df = pd.read_csv(path_to_file_csv)
unknown_df = unknown_df.rename(columns={'Births':'Unknown_Delivery_Attendant'})
natality_df['Unknown_Delivery_Attendant']  = unknown_df['Unknown_Delivery_Attendant']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683,325,54.0,54.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239,295,667.0,667.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643,355,59.0,59.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376,336,124.0,124.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181,427,87.0,87.0

Now, we add in delivery method

In [146]:
path_to_file = '../data/natality_data/Natality2010-2023_delivery_method.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_method.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Vaginal" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
vaginal_df = pd.read_csv(path_to_file_csv)
vaginal_df = vaginal_df.rename(columns={'Births':'Vaginal_Delivery'})
natality_df['Vaginal_Delivery']  = vaginal_df['Vaginal_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683,325,54.0,54.0,102847.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239,295,667.0,667.0,101700.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643,355,59.0,59.0,102307.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376,336,124.0,124.0,101725.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181,427,87.0,87.0,102294.0

In [147]:
path_to_file = '../data/natality_data/Natality2010-2023_delivery_method.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_delivery_method.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Cesarean" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
cesarean_df = pd.read_csv(path_to_file_csv)
cesarean_df = cesarean_df.rename(columns={'Births':'Cesarean_Delivery'})
natality_df['Cesarean_Delivery']  = cesarean_df['Cesarean_Delivery']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,947,123729.0,7475.0,21551.0,683,325,54.0,54.0,102847.0,50444.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,1010,122514.0,7500.0,20825.0,1239,295,667.0,667.0,101700.0,49828.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,1048,120550.0,7630.0,20826.0,1643,355,59.0,59.0,102307.0,48319.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,1148,117931.0,8115.0,21947.0,1376,336,124.0,124.0,101725.0,47583.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,1116,117427.0,8572.0,22452.0,1181,427,87.0,87.0,102294.0,47363.0

Now, we add the mother's marital status.

In [148]:
path_to_file = '../data/natality_data/Natality2010-2023_marital_status.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_marital_status.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Married" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
married_df = pd.read_csv(path_to_file_csv)
married_df = married_df.rename(columns={'Births':'Married'})
natality_df['Married']  = married_df['Married']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,123729.0,7475.0,21551.0,683,325,54.0,54.0,102847.0,50444.0,97360.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,122514.0,7500.0,20825.0,1239,295,667.0,667.0,101700.0,49828.0,96481.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,120550.0,7630.0,20826.0,1643,355,59.0,59.0,102307.0,48319.0,95197.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,117931.0,8115.0,21947.0,1376,336,124.0,124.0,101725.0,47583.0,95335.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,117427.0,8572.0,22452.0,1181,427,87.0,87.0,102294.0,47363.0,96075.0

In [149]:
path_to_file = '../data/natality_data/Natality2010-2023_marital_status.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_marital_status.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unmarried" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
unmarried_df = pd.read_csv(path_to_file_csv)
unmarried_df = unmarried_df.rename(columns={'Births':'Unmarried'})
natality_df['Unmarried']  = unmarried_df['Unmarried']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,7475.0,21551.0,683,325,54.0,54.0,102847.0,50444.0,97360.0,56457.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,7500.0,20825.0,1239,295,667.0,667.0,101700.0,49828.0,96481.0,56559.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,7630.0,20826.0,1643,355,59.0,59.0,102307.0,48319.0,95197.0,55866.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,8115.0,21947.0,1376,336,124.0,124.0,101725.0,47583.0,95335.0,54494.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,8572.0,22452.0,1181,427,87.0,87.0,102294.0,47363.0,96075.0,54071.0

Now, we add month prenatal care began

In [150]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("No prenatal care" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
none_df = pd.read_csv(path_to_file_csv)
none_df = none_df.rename(columns={'Births':'NoPrenatalCare'})
natality_df['NoPrenatalCare']  = none_df['NoPrenatalCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,21551.0,683,325,54.0,54.0,102847.0,50444.0,97360.0,56457.0,64.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,20825.0,1239,295,667.0,667.0,101700.0,49828.0,96481.0,56559.0,101.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,20826.0,1643,355,59.0,59.0,102307.0,48319.0,95197.0,55866.0,327.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,21947.0,1376,336,124.0,124.0,101725.0,47583.0,95335.0,54494.0,289.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,22452.0,1181,427,87.0,87.0,102294.0,47363.0,96075.0,54071.0,467.0

In [151]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("1st month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
one_df = pd.read_csv(path_to_file_csv)
one_df = one_df.rename(columns={'Births':'1stMonthInitialCare'})
natality_df['1stMonthInitialCare']  = one_df['1stMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,OtherMidwife_Delivery,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,683,325,54.0,54.0,102847.0,50444.0,97360.0,56457.0,64.0,364
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,1239,295,667.0,667.0,101700.0,49828.0,96481.0,56559.0,101.0,393
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,1643,355,59.0,59.0,102307.0,48319.0,95197.0,55866.0,327.0,2473
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,1376,336,124.0,124.0,101725.0,47583.0,95335.0,54494.0,289.0,2503
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,1181,427,87.0,87.0,102294.0,47363.0,96075.0,54071.0,467.0,3653

In [152]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("2nd month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
two_df = pd.read_csv(path_to_file_csv)
two_df = two_df.rename(columns={'Births':'2ndMonthInitialCare'})
natality_df['2ndMonthInitialCare']  = two_df['2ndMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Other_Delivery,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,325,54.0,54.0,102847.0,50444.0,97360.0,56457.0,64.0,364,7388.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,295,667.0,667.0,101700.0,49828.0,96481.0,56559.0,101.0,393,7688.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,355,59.0,59.0,102307.0,48319.0,95197.0,55866.0,327.0,2473,31004.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,336,124.0,124.0,101725.0,47583.0,95335.0,54494.0,289.0,2503,29304.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,427,87.0,87.0,102294.0,47363.0,96075.0,54071.0,467.0,3653,45002.0

In [153]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("3rd month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
three_df = pd.read_csv(path_to_file_csv)
three_df = three_df.rename(columns={'Births':'3rdMonthInitialCare'})
natality_df['3rdMonthInitialCare']  = three_df['3rdMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Unknown_Delivery,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,54.0,54.0,102847.0,50444.0,97360.0,56457.0,64.0,364,7388.0,6917
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,667.0,667.0,101700.0,49828.0,96481.0,56559.0,101.0,393,7688.0,7111
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,59.0,59.0,102307.0,48319.0,95197.0,55866.0,327.0,2473,31004.0,38796
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,124.0,124.0,101725.0,47583.0,95335.0,54494.0,289.0,2503,29304.0,38616
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,87.0,87.0,102294.0,47363.0,96075.0,54071.0,467.0,3653,45002.0,35994

In [154]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("4th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
four_df = pd.read_csv(path_to_file_csv)
four_df = four_df.rename(columns={'Births':'4thMonthInitialCare'})
natality_df['4thMonthInitialCare']  = four_df['4thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Unknown_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,54.0,102847.0,50444.0,97360.0,56457.0,64.0,364,7388.0,6917,1467.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,667.0,101700.0,49828.0,96481.0,56559.0,101.0,393,7688.0,7111,1574.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,59.0,102307.0,48319.0,95197.0,55866.0,327.0,2473,31004.0,38796,8120.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,124.0,101725.0,47583.0,95335.0,54494.0,289.0,2503,29304.0,38616,7165.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,87.0,102294.0,47363.0,96075.0,54071.0,467.0,3653,45002.0,35994,6497.0

In [155]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("5th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
five_df = pd.read_csv(path_to_file_csv)
five_df = five_df.rename(columns={'Births':'5thMonthInitialCare'})
natality_df['5thMonthInitialCare']  = five_df['5thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,102847.0,50444.0,97360.0,56457.0,64.0,364,7388.0,6917,1467.0,600
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,101700.0,49828.0,96481.0,56559.0,101.0,393,7688.0,7111,1574.0,656
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,102307.0,48319.0,95197.0,55866.0,327.0,2473,31004.0,38796,8120.0,2886
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,101725.0,47583.0,95335.0,54494.0,289.0,2503,29304.0,38616,7165.0,2833
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,102294.0,47363.0,96075.0,54071.0,467.0,3653,45002.0,35994,6497.0,2902

In [156]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("6th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
six_df = pd.read_csv(path_to_file_csv)
six_df = six_df.rename(columns={'Births':'6thMonthInitialCare'})
natality_df['6thMonthInitialCare']  = six_df['6thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,50444.0,97360.0,56457.0,64.0,364,7388.0,6917,1467.0,600,355.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,49828.0,96481.0,56559.0,101.0,393,7688.0,7111,1574.0,656,402.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,48319.0,95197.0,55866.0,327.0,2473,31004.0,38796,8120.0,2886,1646.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,47583.0,95335.0,54494.0,289.0,2503,29304.0,38616,7165.0,2833,1697.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,47363.0,96075.0,54071.0,467.0,3653,45002.0,35994,6497.0,2902,1879.0

In [157]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("7th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
seven_df = pd.read_csv(path_to_file_csv)
seven_df = seven_df.rename(columns={'Births':'7thMonthInitialCare'})
natality_df['7thMonthInitialCare']  = seven_df['7thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,97360.0,56457.0,64.0,364,7388.0,6917,1467.0,600,355.0,254
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,96481.0,56559.0,101.0,393,7688.0,7111,1574.0,656,402.0,244
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,95197.0,55866.0,327.0,2473,31004.0,38796,8120.0,2886,1646.0,1116
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,95335.0,54494.0,289.0,2503,29304.0,38616,7165.0,2833,1697.0,1202
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,96075.0,54071.0,467.0,3653,45002.0,35994,6497.0,2902,1879.0,1566

In [158]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("8th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
eight_df = pd.read_csv(path_to_file_csv)
eight_df = eight_df.rename(columns={'Births':'8thMonthInitialCare'})
natality_df['8thMonthInitialCare']  = eight_df['8thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,56457.0,64.0,364,7388.0,6917,1467.0,600,355.0,254,155
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,56559.0,101.0,393,7688.0,7111,1574.0,656,402.0,244,192
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,55866.0,327.0,2473,31004.0,38796,8120.0,2886,1646.0,1116,955
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,54494.0,289.0,2503,29304.0,38616,7165.0,2833,1697.0,1202,1002
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,54071.0,467.0,3653,45002.0,35994,6497.0,2902,1879.0,1566,1150

In [159]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("9th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
nine_df = pd.read_csv(path_to_file_csv)
nine_df = nine_df.rename(columns={'Births':'9thMonthInitialCare'})
natality_df['9thMonthInitialCare']  = nine_df['9thMonthInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,64.0,364,7388.0,6917,1467.0,600,355.0,254,155,53.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,101.0,393,7688.0,7111,1574.0,656,402.0,244,192,72.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,327.0,2473,31004.0,38796,8120.0,2886,1646.0,1116,955,441.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,289.0,2503,29304.0,38616,7165.0,2833,1697.0,1202,1002,483.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,467.0,3653,45002.0,35994,6497.0,2902,1879.0,1566,1150,487.0

In [160]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unknown or Not Stated" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
idk_df = pd.read_csv(path_to_file_csv)
idk_df = idk_df.rename(columns={'Births':'UnknownInitialCare'})
natality_df['UnknownInitialCare']  = idk_df['UnknownInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,364,7388.0,6917,1467.0,600,355.0,254,155,53.0,1474.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,393,7688.0,7111,1574.0,656,402.0,244,192,72.0,487.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,2473,31004.0,38796,8120.0,2886,1646.0,1116,955,441.0,2986.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,2503,29304.0,38616,7165.0,2833,1697.0,1202,1002,483.0,5022.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,3653,45002.0,35994,6497.0,2902,1879.0,1566,1150,487.0,3431.0

In [161]:
path_to_file = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Not Reported" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
idek_df = pd.read_csv(path_to_file_csv)
idek_df = idek_df.rename(columns={'Births':'NotReportedInitialCare'})
natality_df['NotReportedInitialCare']  = idek_df['NotReportedInitialCare']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,7388.0,6917,1467.0,600,355.0,254,155,53.0,1474.0,134720
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,7688.0,7111,1574.0,656,402.0,244,192,72.0,487.0,134111
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,31004.0,38796,8120.0,2886,1646.0,1116,955,441.0,2986.0,60263
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,29304.0,38616,7165.0,2833,1697.0,1202,1002,483.0,5022.0,59670
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,45002.0,35994,6497.0,2902,1879.0,1566,1150,487.0,3431.0,47108

Now, we add OE gestational age.

In [162]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Under 20 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xx_df = pd.read_csv(path_to_file_csv)
xx_df = xx_df.rename(columns={'Births':'Under20Weeks'})
natality_df['Under20Weeks']  = xx_df['Under20Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,6917,1467.0,600,355.0,254,155,53.0,1474.0,134720,44.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,7111,1574.0,656,402.0,244,192,72.0,487.0,134111,66.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,38796,8120.0,2886,1646.0,1116,955,441.0,2986.0,60263,60.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,38616,7165.0,2833,1697.0,1202,1002,483.0,5022.0,59670,45.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,35994,6497.0,2902,1879.0,1566,1150,487.0,3431.0,47108,43.0

In [163]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("20 - 27 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxvii_df = pd.read_csv(path_to_file_csv)
xxvii_df = xxvii_df.rename(columns={'Births':'20-27Weeks'})
natality_df['20-27Weeks']  = xxvii_df['20-27Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,1467.0,600,355.0,254,155,53.0,1474.0,134720,44.0,926.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,1574.0,656,402.0,244,192,72.0,487.0,134111,66.0,900.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,8120.0,2886,1646.0,1116,955,441.0,2986.0,60263,60.0,909.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,7165.0,2833,1697.0,1202,1002,483.0,5022.0,59670,45.0,867.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,6497.0,2902,1879.0,1566,1150,487.0,3431.0,47108,43.0,866.0

In [164]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("28 - 31 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxviii_df = pd.read_csv(path_to_file_csv)
xxviii_df = xxviii_df.rename(columns={'Births':'28-31Weeks'})
natality_df['28-31Weeks']  = xxviii_df['28-31Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,600,355.0,254,155,53.0,1474.0,134720,44.0,926.0,1313.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,656,402.0,244,192,72.0,487.0,134111,66.0,900.0,1302.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,2886,1646.0,1116,955,441.0,2986.0,60263,60.0,909.0,1236.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,2833,1697.0,1202,1002,483.0,5022.0,59670,45.0,867.0,1247.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,2902,1879.0,1566,1150,487.0,3431.0,47108,43.0,866.0,1226.0

In [165]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("32 - 35 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxv_df = pd.read_csv(path_to_file_csv)
xxxv_df = xxxv_df.rename(columns={'Births':'32-35Weeks'})
natality_df['32-35Weeks']  = xxxv_df['32-35Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,355.0,254,155,53.0,1474.0,134720,44.0,926.0,1313.0,6180.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,402.0,244,192,72.0,487.0,134111,66.0,900.0,1302.0,5944.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,1646.0,1116,955,441.0,2986.0,60263,60.0,909.0,1236.0,6133.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,1697.0,1202,1002,483.0,5022.0,59670,45.0,867.0,1247.0,5820.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,1879.0,1566,1150,487.0,3431.0,47108,43.0,866.0,1226.0,5991.0

In [166]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("36 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxvi_df = pd.read_csv(path_to_file_csv)
xxxvi_df = xxxvi_df.rename(columns={'Births':'36Weeks'})
natality_df['36Weeks']  = xxxvi_df['36Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,254,155,53.0,1474.0,134720,44.0,926.0,1313.0,6180.0,5138
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,244,192,72.0,487.0,134111,66.0,900.0,1302.0,5944.0,5149
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,1116,955,441.0,2986.0,60263,60.0,909.0,1236.0,6133.0,5039
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,1202,1002,483.0,5022.0,59670,45.0,867.0,1247.0,5820.0,5139
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,1566,1150,487.0,3431.0,47108,43.0,866.0,1226.0,5991.0,4889

In [167]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("37 - 39 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxix_df = pd.read_csv(path_to_file_csv)
xxxix_df = xxxix_df.rename(columns={'Births':'37-39Weeks'})
natality_df['37-39Weeks']  = xxxix_df['37-39Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,155,53.0,1474.0,134720,44.0,926.0,1313.0,6180.0,5138,83199.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,192,72.0,487.0,134111,66.0,900.0,1302.0,5944.0,5149,83748.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,955,441.0,2986.0,60263,60.0,909.0,1236.0,6133.0,5039,84111.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,1002,483.0,5022.0,59670,45.0,867.0,1247.0,5820.0,5139,83258.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,1150,487.0,3431.0,47108,43.0,866.0,1226.0,5991.0,4889,83424.0

In [168]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("40 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xl_df = pd.read_csv(path_to_file_csv)
xl_df = xl_df.rename(columns={'Births':'40Weeks'})
natality_df['40Weeks']  = xl_df['40Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,53.0,1474.0,134720,44.0,926.0,1313.0,6180.0,5138,83199.0,40352
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,72.0,487.0,134111,66.0,900.0,1302.0,5944.0,5149,83748.0,38371
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,441.0,2986.0,60263,60.0,909.0,1236.0,6133.0,5039,84111.0,37189
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,483.0,5022.0,59670,45.0,867.0,1247.0,5820.0,5139,83258.0,36672
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,487.0,3431.0,47108,43.0,866.0,1226.0,5991.0,4889,83424.0,36491

In [169]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("41 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xli_df = pd.read_csv(path_to_file_csv)
xli_df = xli_df.rename(columns={'Births':'41Weeks'})
natality_df['41Weeks']  = xli_df['41Weeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks,41Weeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,1474.0,134720,44.0,926.0,1313.0,6180.0,5138,83199.0,40352,15384.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,487.0,134111,66.0,900.0,1302.0,5944.0,5149,83748.0,38371,15233.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,2986.0,60263,60.0,909.0,1236.0,6133.0,5039,84111.0,37189,15230.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,5022.0,59670,45.0,867.0,1247.0,5820.0,5139,83258.0,36672,15476.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,3431.0,47108,43.0,866.0,1226.0,5991.0,4889,83424.0,36491,16056.0

In [170]:
path_to_file = '../data/natality_data/Natality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/Natality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("42 weeks or more" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xlii_df = pd.read_csv(path_to_file_csv)
xlii_df = xlii_df.rename(columns={'Births':'42PlusWeeks'})
natality_df['42PlusWeeks']  = xlii_df['42PlusWeeks']
natality_df.head()

,Division,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks,41Weeks,42PlusWeeks
0,New England,2010,153817,2484.0,8737.0,1291.0,6224.0,2905.0,152447.0,397.0,...,134720,44.0,926.0,1313.0,6180.0,5138,83199.0,40352,15384.0,935.0
1,New England,2011,153040,2522.0,9307.0,641.0,5682.0,2844.0,151536.0,422.0,...,134111,66.0,900.0,1302.0,5944.0,5149,83748.0,38371,15233.0,796.0
2,New England,2012,151063,2474.0,9794.0,516.0,5888.0,8002.0,149491.0,447.0,...,60263,60.0,909.0,1236.0,6133.0,5039,84111.0,37189,15230.0,848.0
3,New England,2013,149829,2407.0,9549.0,180.0,5815.0,7615.0,148103.0,509.0,...,59670,45.0,867.0,1247.0,5820.0,5139,83258.0,36672,15476.0,869.0
4,New England,2014,150146,2604.0,9587.0,299.0,6328.0,9190.0,148433.0,520.0,...,47108,43.0,866.0,1226.0,5991.0,4889,83424.0,36491,16056.0,909.0

In [172]:
natality_df.to_csv('../data/natality_data/NatalityDF.csv', index=False)