In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

First, we'll make the Natality data by year into a data frame.

In [5]:
path_to_file = '../data/natality_data/StateNatality2010-2023.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if  not ("Total" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
statenatality_df = pd.read_csv(path_to_file_csv)
statenatality_df  = statenatality_df[['State','Year','Births']]
statenatality_df.head()

     State  Year  Births
0  Arizona  2010   87477
1  Arizona  2011   85543
2  Arizona  2012   86441
3  Arizona  2013   85600
4  Arizona  2014   86887

Now, we'll bring in five risk factors for the mother (i.e. chronic hypertension, diabetes, enclampsia, pregnancy-associated hypertension, and tobacco use).

In [8]:
# adding chronic hypertension
path_to_file = '../data/natality_data/StateNatality_risk_chronic_hypertension.txt'
path_to_file_csv = '../data/natality_data/StateNatality_risk_chronic_hypertension.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
chronic_hypertension_df = pd.read_csv(path_to_file_csv)
chronic_hypertension_df = chronic_hypertension_df.rename(columns={'Births': 'ChronicHypertensionBirths'})
statenatality_df['ChronicHypertensionBirths']  = chronic_hypertension_df['ChronicHypertensionBirths']
statenatality_df.head()

     State  Year  Births  ChronicHypertensionBirths
0  Arizona  2010   87477                        769
1  Arizona  2011   85543                        711
2  Arizona  2012   86441                        807
3  Arizona  2013   85600                        956
4  Arizona  2014   86887                       1039

In [9]:
#adding diabetes
path_to_file = '../data/natality_data/StateNatality_risk_diabetes.txt'
path_to_file_csv = '../data/natality_data/StateNatality_risk_diabetes.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
diabetes_df = pd.read_csv(path_to_file_csv)
diabetes_df = diabetes_df.rename(columns={'Births':'DiabetesBirths'})
statenatality_df['DiabetesBirths']  = diabetes_df['DiabetesBirths']
statenatality_df.head()

     State  Year  Births  ChronicHypertensionBirths  DiabetesBirths
0  Arizona  2010   87477                        769          3694.0
1  Arizona  2011   85543                        711          4014.0
2  Arizona  2012   86441                        807          4452.0
3  Arizona  2013   85600                        956          4919.0
4  Arizona  2014   86887                       1039          6126.0

In [10]:
#adding enclampsia
path_to_file = '../data/natality_data/StateNatality_risk_enclampsia.txt'
path_to_file_csv = '../data/natality_data/StateNatality_risk_enclampsia.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
enclampsia_df = pd.read_csv(path_to_file_csv)
enclampsia_df = enclampsia_df.rename(columns={'Births':'EnclampsiaBirths'})
statenatality_df['EnclampsiaBirths']  = enclampsia_df['EnclampsiaBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths
0,Arizona,2010,87477,769,3694.0,769.0
1,Arizona,2011,85543,711,4014.0,772.0
2,Arizona,2012,86441,807,4452.0,634.0
3,Arizona,2013,85600,956,4919.0,604.0
4,Arizona,2014,86887,1039,6126.0,341.0

In [11]:
#adding pregnancy-associated hypertension
path_to_file = '../data/natality_data/StateNatality_risk_pregnancy-associated_hypertension.txt'
path_to_file_csv = '../data/natality_data/StateNatality_risk_pregnancy-associated_hypertension.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
PAH_df = pd.read_csv(path_to_file_csv)
PAH_df = PAH_df.rename(columns={'Births':'Pregnancy-AssociatedHypertensionBirths'})
statenatality_df['Pregnancy-AssociatedHypertensionBirths']  = PAH_df['Pregnancy-AssociatedHypertensionBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths
0,Arizona,2010,87477,769,3694.0,769.0,3441.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0

In [12]:
#adding tobacco use
path_to_file = '../data/natality_data/StateNatality_risk_tobacco_use.txt'
path_to_file_csv = '../data/natality_data/StateNatality_risk_tobacco_use.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Yes" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
tobacco_df = pd.read_csv(path_to_file_csv)
tobacco_df = tobacco_df.rename(columns={'Births':'TobaccoUseBirths'})
statenatality_df['TobaccoUseBirths']  = tobacco_df['TobaccoUseBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0

Now, we add birthplace data

In [13]:
#adding birthplace
path_to_file = '../data/natality_data/StateNatality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
#adding in hospital births
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("In Hospital" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
hosp_df = pd.read_csv(path_to_file_csv)
hosp_df = hosp_df.rename(columns={'Births':'HospitalBirths'})
statenatality_df['HospitalBirths']  = hosp_df['HospitalBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0

In [14]:
#adding in freestanding birth center births
path_to_file = '../data/natality_data/StateNatality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Freestanding Birth Center" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
FBC_df = pd.read_csv(path_to_file_csv)
FBC_df = FBC_df.rename(columns={'Births':'BirthCenterBirths'})
statenatality_df['BirthCenterBirths']  = FBC_df['BirthCenterBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511

In [15]:
#adding in residence births
path_to_file = '../data/natality_data/StateNatality2010-2023_birthplace.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_birthplace.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Residence" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
res_df = pd.read_csv(path_to_file_csv)
res_df = res_df.rename(columns={'Births':'ResidenceBirths'})
statenatality_df['ResidenceBirths']  = res_df['ResidenceBirths']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0

Now, we add in delivery attendants

In [16]:
#adding in MD delivery
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Doctor of Medicine(MD)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
md_df = pd.read_csv(path_to_file_csv)
md_df = md_df.rename(columns={'Births':'MD_Delivery'})
statenatality_df['MD_Delivery']  = md_df['MD_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0

In [17]:
#adding in Doctor of Osteopathy(DO) delivery
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Doctor of Osteopathy(DO)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
do_df = pd.read_csv(path_to_file_csv)
do_df = do_df.rename(columns={'Births':'DO_Delivery'})
statenatality_df['DO_Delivery']  = do_df['DO_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0

In [18]:
#adding Certified Nurse Midwife delivery
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Certified Nurse Midwife(CNM/CM)" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
cnm_df = pd.read_csv(path_to_file_csv)
cnm_df = cnm_df.rename(columns={'Births':'CNM_Delivery'})
statenatality_df['CNM_Delivery']  = cnm_df['CNM_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0

In [19]:
#adding Other Midwife Delivery
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Other Midwife" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
om_df = pd.read_csv(path_to_file_csv)
om_df = om_df.rename(columns={'Births':'OtherMidwife_Delivery'})
statenatality_df['OtherMidwife_Delivery']  = om_df['OtherMidwife_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0

In [20]:
#adding Other Delivery Attendant
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_attendant.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_attendant.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Other" in line) and not("Midwife" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
om_df = pd.read_csv(path_to_file_csv)
om_df = om_df.rename(columns={'Births':'Other_Delivery_Attendant'})
statenatality_df['Other_Delivery_Attendant']  = om_df['Other_Delivery_Attendant']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0,177
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0,178
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0,199
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0,235
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0,238

Now, we add in delivery method

In [21]:
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_method.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_method.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Vaginal" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
vaginal_df = pd.read_csv(path_to_file_csv)
vaginal_df = vaginal_df.rename(columns={'Births':'Vaginal_Delivery'})
statenatality_df['Vaginal_Delivery']  = vaginal_df['Vaginal_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0,177,63343.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0,178,61655.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0,199,62591.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0,235,61799.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0,238,62741.0

In [22]:
path_to_file = '../data/natality_data/StateNatality2010-2023_delivery_method.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_delivery_method.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Cesarean" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
cesarean_df = pd.read_csv(path_to_file_csv)
cesarean_df = cesarean_df.rename(columns={'Births':'Cesarean_Delivery'})
statenatality_df['Cesarean_Delivery']  = cesarean_df['Cesarean_Delivery']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0,177,63343.0,23629.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0,178,61655.0,23449.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0,199,62591.0,23405.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0,235,61799.0,23347.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0,238,62741.0,24146.0

Now, we add the mother's marital status.

In [23]:
path_to_file = '../data/natality_data/StateNatality2010-2023_marital_status.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_marital_status.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Married" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
married_df = pd.read_csv(path_to_file_csv)
married_df = married_df.rename(columns={'Births':'Married'})
statenatality_df['Married']  = married_df['Married']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0,177,63343.0,23629.0,48183.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0,178,61655.0,23449.0,47316.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0,199,62591.0,23405.0,47122.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0,235,61799.0,23347.0,46725.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0,238,62741.0,24146.0,47663.0

In [24]:
path_to_file = '../data/natality_data/StateNatality2010-2023_marital_status.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_marital_status.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unmarried" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
unmarried_df = pd.read_csv(path_to_file_csv)
unmarried_df = unmarried_df.rename(columns={'Births':'Unmarried'})
statenatality_df['Unmarried']  = unmarried_df['Unmarried']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,ResidenceBirths,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,663.0,72469.0,8937.0,5249.0,642.0,177,63343.0,23629.0,48183.0,39294.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,679.0,71480.0,8295.0,4825.0,752.0,178,61655.0,23449.0,47316.0,38227.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,724.0,71309.0,8526.0,5617.0,781.0,199,62591.0,23405.0,47122.0,39319.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,672.0,70436.0,8545.0,5568.0,802.0,235,61799.0,23347.0,46725.0,38875.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,702.0,71286.0,9011.0,6252.0,90.0,238,62741.0,24146.0,47663.0,39224.0

Now, we add month prenatal care began

In [25]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("No prenatal care" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
none_df = pd.read_csv(path_to_file_csv)
none_df = none_df.rename(columns={'Births':'NoPrenatalCare'})
statenatality_df['NoPrenatalCare']  = none_df['NoPrenatalCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,MD_Delivery,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,72469.0,8937.0,5249.0,642.0,177,63343.0,23629.0,48183.0,39294.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,71480.0,8295.0,4825.0,752.0,178,61655.0,23449.0,47316.0,38227.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,71309.0,8526.0,5617.0,781.0,199,62591.0,23405.0,47122.0,39319.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,70436.0,8545.0,5568.0,802.0,235,61799.0,23347.0,46725.0,38875.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,71286.0,9011.0,6252.0,90.0,238,62741.0,24146.0,47663.0,39224.0,1862.0

In [26]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("1st month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
one_df = pd.read_csv(path_to_file_csv)
one_df = one_df.rename(columns={'Births':'1stMonthInitialCare'})
statenatality_df['1stMonthInitialCare']  = one_df['1stMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,DO_Delivery,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,8937.0,5249.0,642.0,177,63343.0,23629.0,48183.0,39294.0,0.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,8295.0,4825.0,752.0,178,61655.0,23449.0,47316.0,38227.0,0.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,8526.0,5617.0,781.0,199,62591.0,23405.0,47122.0,39319.0,0.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,8545.0,5568.0,802.0,235,61799.0,23347.0,46725.0,38875.0,0.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,9011.0,6252.0,90.0,238,62741.0,24146.0,47663.0,39224.0,1862.0,8553.0

In [27]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("2nd month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
two_df = pd.read_csv(path_to_file_csv)
two_df = two_df.rename(columns={'Births':'2ndMonthInitialCare'})
statenatality_df['2ndMonthInitialCare']  = two_df['2ndMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,CNM_Delivery,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,5249.0,642.0,177,63343.0,23629.0,48183.0,39294.0,0.0,0.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,4825.0,752.0,178,61655.0,23449.0,47316.0,38227.0,0.0,0.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,5617.0,781.0,199,62591.0,23405.0,47122.0,39319.0,0.0,0.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,5568.0,802.0,235,61799.0,23347.0,46725.0,38875.0,0.0,0.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,6252.0,90.0,238,62741.0,24146.0,47663.0,39224.0,1862.0,8553.0,34117.0

In [28]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("3rd month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
three_df = pd.read_csv(path_to_file_csv)
three_df = three_df.rename(columns={'Births':'3rdMonthInitialCare'})
statenatality_df['3rdMonthInitialCare']  = three_df['3rdMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,OtherMidwife_Delivery,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,642.0,177,63343.0,23629.0,48183.0,39294.0,0.0,0.0,0.0,0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,752.0,178,61655.0,23449.0,47316.0,38227.0,0.0,0.0,0.0,0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,781.0,199,62591.0,23405.0,47122.0,39319.0,0.0,0.0,0.0,0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,802.0,235,61799.0,23347.0,46725.0,38875.0,0.0,0.0,0.0,0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,90.0,238,62741.0,24146.0,47663.0,39224.0,1862.0,8553.0,34117.0,20467

In [29]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("4th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
four_df = pd.read_csv(path_to_file_csv)
four_df = four_df.rename(columns={'Births':'4thMonthInitialCare'})
statenatality_df['4thMonthInitialCare']  = four_df['4thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Other_Delivery_Attendant,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,177,63343.0,23629.0,48183.0,39294.0,0.0,0.0,0.0,0,0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,178,61655.0,23449.0,47316.0,38227.0,0.0,0.0,0.0,0,0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,199,62591.0,23405.0,47122.0,39319.0,0.0,0.0,0.0,0,0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,235,61799.0,23347.0,46725.0,38875.0,0.0,0.0,0.0,0,0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,238,62741.0,24146.0,47663.0,39224.0,1862.0,8553.0,34117.0,20467,8059

In [30]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("5th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
five_df = pd.read_csv(path_to_file_csv)
five_df = five_df.rename(columns={'Births':'5thMonthInitialCare'})
statenatality_df['5thMonthInitialCare']  = five_df['5thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Vaginal_Delivery,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,63343.0,23629.0,48183.0,39294.0,0.0,0.0,0.0,0,0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,61655.0,23449.0,47316.0,38227.0,0.0,0.0,0.0,0,0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,62591.0,23405.0,47122.0,39319.0,0.0,0.0,0.0,0,0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,61799.0,23347.0,46725.0,38875.0,0.0,0.0,0.0,0,0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,62741.0,24146.0,47663.0,39224.0,1862.0,8553.0,34117.0,20467,8059,4513.0

In [31]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("6th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
six_df = pd.read_csv(path_to_file_csv)
six_df = six_df.rename(columns={'Births':'6thMonthInitialCare'})
statenatality_df['6thMonthInitialCare']  = six_df['6thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Cesarean_Delivery,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,23629.0,48183.0,39294.0,0.0,0.0,0.0,0,0,0.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,23449.0,47316.0,38227.0,0.0,0.0,0.0,0,0,0.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,23405.0,47122.0,39319.0,0.0,0.0,0.0,0,0,0.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,23347.0,46725.0,38875.0,0.0,0.0,0.0,0,0,0.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,24146.0,47663.0,39224.0,1862.0,8553.0,34117.0,20467,8059,4513.0,2887.0

In [32]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("7th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
seven_df = pd.read_csv(path_to_file_csv)
seven_df = seven_df.rename(columns={'Births':'7thMonthInitialCare'})
statenatality_df['7thMonthInitialCare']  = seven_df['7thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Married,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,48183.0,39294.0,0.0,0.0,0.0,0,0,0.0,0.0,0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,47316.0,38227.0,0.0,0.0,0.0,0,0,0.0,0.0,0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,47122.0,39319.0,0.0,0.0,0.0,0,0,0.0,0.0,0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,46725.0,38875.0,0.0,0.0,0.0,0,0,0.0,0.0,0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,47663.0,39224.0,1862.0,8553.0,34117.0,20467,8059,4513.0,2887.0,2258

In [33]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("8th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
eight_df = pd.read_csv(path_to_file_csv)
eight_df = eight_df.rename(columns={'Births':'8thMonthInitialCare'})
statenatality_df['8thMonthInitialCare']  = eight_df['8thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,Unmarried,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,39294.0,0.0,0.0,0.0,0,0,0.0,0.0,0,0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,38227.0,0.0,0.0,0.0,0,0,0.0,0.0,0,0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,39319.0,0.0,0.0,0.0,0,0,0.0,0.0,0,0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,38875.0,0.0,0.0,0.0,0,0,0.0,0.0,0,0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,39224.0,1862.0,8553.0,34117.0,20467,8059,4513.0,2887.0,2258,1730

In [34]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("9th month" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
nine_df = pd.read_csv(path_to_file_csv)
nine_df = nine_df.rename(columns={'Births':'9thMonthInitialCare'})
statenatality_df['9thMonthInitialCare']  = nine_df['9thMonthInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,NoPrenatalCare,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,1862.0,8553.0,34117.0,20467,8059,4513.0,2887.0,2258,1730,794.0

In [35]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Unknown or Not Stated" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
idk_df = pd.read_csv(path_to_file_csv)
idk_df = idk_df.rename(columns={'Births':'UnknownInitialCare'})
statenatality_df['UnknownInitialCare']  = idk_df['UnknownInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,1stMonthInitialCare,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0.0,0,0,0.0,0.0,0,0,0.0,0.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,8553.0,34117.0,20467,8059,4513.0,2887.0,2258,1730,794.0,1627.0

In [36]:
path_to_file = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_month_prenatal_care_began.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Not Reported" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
idek_df = pd.read_csv(path_to_file_csv)
idek_df = idek_df.rename(columns={'Births':'NotReportedInitialCare'})
statenatality_df['NotReportedInitialCare']  = idek_df['NotReportedInitialCare']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,2ndMonthInitialCare,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0,0,0.0,0.0,0,0,0.0,0.0,87477.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0,0,0.0,0.0,0,0,0.0,0.0,85543.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0,0,0.0,0.0,0,0,0.0,0.0,86441.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0,0,0.0,0.0,0,0,0.0,0.0,85600.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,34117.0,20467,8059,4513.0,2887.0,2258,1730,794.0,1627.0,0.0

Now, we add OE gestational age.

In [37]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("Under 20 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xx_df = pd.read_csv(path_to_file_csv)
xx_df = xx_df.rename(columns={'Births':'Under20Weeks'})
statenatality_df['Under20Weeks']  = xx_df['Under20Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,3rdMonthInitialCare,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0,0,0.0,0.0,0,0,0.0,0.0,87477.0,42
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0,0,0.0,0.0,0,0,0.0,0.0,85543.0,41
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0,0,0.0,0.0,0,0,0.0,0.0,86441.0,54
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0,0,0.0,0.0,0,0,0.0,0.0,85600.0,49
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,20467,8059,4513.0,2887.0,2258,1730,794.0,1627.0,0.0,35

In [38]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("20 - 27 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxvii_df = pd.read_csv(path_to_file_csv)
xxvii_df = xxvii_df.rename(columns={'Births':'20-27Weeks'})
statenatality_df['20-27Weeks']  = xxvii_df['20-27Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,4thMonthInitialCare,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0,0.0,0.0,0,0,0.0,0.0,87477.0,42,465
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0,0.0,0.0,0,0,0.0,0.0,85543.0,41,546
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0,0.0,0.0,0,0,0.0,0.0,86441.0,54,480
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0,0.0,0.0,0,0,0.0,0.0,85600.0,49,437
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,8059,4513.0,2887.0,2258,1730,794.0,1627.0,0.0,35,474

In [39]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("28 - 31 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxviii_df = pd.read_csv(path_to_file_csv)
xxviii_df = xxviii_df.rename(columns={'Births':'28-31Weeks'})
statenatality_df['28-31Weeks']  = xxviii_df['28-31Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,5thMonthInitialCare,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0.0,0,0,0.0,0.0,87477.0,42,465,667.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0.0,0,0,0.0,0.0,85543.0,41,546,618.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0.0,0,0,0.0,0.0,86441.0,54,480,688.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0.0,0,0,0.0,0.0,85600.0,49,437,641.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,4513.0,2887.0,2258,1730,794.0,1627.0,0.0,35,474,664.0

In [40]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("32 - 35 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxv_df = pd.read_csv(path_to_file_csv)
xxxv_df = xxxv_df.rename(columns={'Births':'32-35Weeks'})
statenatality_df['32-35Weeks']  = xxxv_df['32-35Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,6thMonthInitialCare,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0,0,0.0,0.0,87477.0,42,465,667.0,3579.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0,0,0.0,0.0,85543.0,41,546,618.0,3421.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0,0,0.0,0.0,86441.0,54,480,688.0,3476.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0,0,0.0,0.0,85600.0,49,437,641.0,3430.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,2887.0,2258,1730,794.0,1627.0,0.0,35,474,664.0,3440.0

In [41]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("36 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxvi_df = pd.read_csv(path_to_file_csv)
xxxvi_df = xxxvi_df.rename(columns={'Births':'36Weeks'})
statenatality_df['36Weeks']  = xxxvi_df['36Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,7thMonthInitialCare,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0,0,0.0,0.0,87477.0,42,465,667.0,3579.0,3697.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0,0,0.0,0.0,85543.0,41,546,618.0,3421.0,3354.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0,0,0.0,0.0,86441.0,54,480,688.0,3476.0,3290.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0,0,0.0,0.0,85600.0,49,437,641.0,3430.0,3218.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,2258,1730,794.0,1627.0,0.0,35,474,664.0,3440.0,3206.0

In [42]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("37 - 39 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xxxix_df = pd.read_csv(path_to_file_csv)
xxxix_df = xxxix_df.rename(columns={'Births':'37-39Weeks'})
statenatality_df['37-39Weeks']  = xxxix_df['37-39Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,8thMonthInitialCare,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0,0.0,0.0,87477.0,42,465,667.0,3579.0,3697.0,55528.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0,0.0,0.0,85543.0,41,546,618.0,3421.0,3354.0,54646.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0,0.0,0.0,86441.0,54,480,688.0,3476.0,3290.0,55425.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0,0.0,0.0,85600.0,49,437,641.0,3430.0,3218.0,54667.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,1730,794.0,1627.0,0.0,35,474,664.0,3440.0,3206.0,55382.0

In [43]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("40 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xl_df = pd.read_csv(path_to_file_csv)
xl_df = xl_df.rename(columns={'Births':'40Weeks'})
statenatality_df['40Weeks']  = xl_df['40Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,9thMonthInitialCare,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,0.0,87477.0,42,465,667.0,3579.0,3697.0,55528.0,18468
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,0.0,85543.0,41,546,618.0,3421.0,3354.0,54646.0,18076
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,0.0,86441.0,54,480,688.0,3476.0,3290.0,55425.0,18265
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,0.0,85600.0,49,437,641.0,3430.0,3218.0,54667.0,18067
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,794.0,1627.0,0.0,35,474,664.0,3440.0,3206.0,55382.0,17920

In [44]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("41 weeks" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xli_df = pd.read_csv(path_to_file_csv)
xli_df = xli_df.rename(columns={'Births':'41Weeks'})
statenatality_df['41Weeks']  = xli_df['41Weeks']
statenatality_df.head()

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,UnknownInitialCare,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks,41Weeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,0.0,87477.0,42,465,667.0,3579.0,3697.0,55528.0,18468,4671.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,0.0,85543.0,41,546,618.0,3421.0,3354.0,54646.0,18076,4482.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,0.0,86441.0,54,480,688.0,3476.0,3290.0,55425.0,18265,4441.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,0.0,85600.0,49,437,641.0,3430.0,3218.0,54667.0,18067,4787.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,1627.0,0.0,35,474,664.0,3440.0,3206.0,55382.0,17920,5388.0

In [45]:
path_to_file = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.txt'
path_to_file_csv = '../data/natality_data/StateNatality2010-2023_OE_gestational_age10.csv'

txt_line_to_csv_line = lambda x : x.replace("\t", ',')
write_file = open(path_to_file_csv, 'w')
f = open(path_to_file)
line_number = -1
for line in f:
    line_number+=1
    if "---" in line:
        break
    if line_number == 0:
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
    if  not ("Total" in line) and ("42 weeks or more" in line):
        csv_line = txt_line_to_csv_line(line)
        write_file.write(csv_line)
xlii_df = pd.read_csv(path_to_file_csv)
xlii_df = xlii_df.rename(columns={'Births':'42PlusWeeks'})
statenatality_df['42PlusWeeks']  = xlii_df['42PlusWeeks']
statenatality_df.head(250)

,State,Year,Births,ChronicHypertensionBirths,DiabetesBirths,EnclampsiaBirths,Pregnancy-AssociatedHypertensionBirths,TobaccoUseBirths,HospitalBirths,BirthCenterBirths,...,NotReportedInitialCare,Under20Weeks,20-27Weeks,28-31Weeks,32-35Weeks,36Weeks,37-39Weeks,40Weeks,41Weeks,42PlusWeeks
0,Arizona,2010,87477,769,3694.0,769.0,3441.0,0.0,86346.0,437,...,87477.0,42,465,667.0,3579.0,3697.0,55528.0,18468,4671.0,337.0
1,Arizona,2011,85543,711,4014.0,772.0,3599.0,0.0,84380.0,454,...,85543.0,41,546,618.0,3421.0,3354.0,54646.0,18076,4482.0,321.0
2,Arizona,2012,86441,807,4452.0,634.0,3903.0,0.0,85177.0,505,...,86441.0,54,480,688.0,3476.0,3290.0,55425.0,18265,4441.0,271.0
3,Arizona,2013,85600,956,4919.0,604.0,4791.0,0.0,84450.0,459,...,85600.0,49,437,641.0,3430.0,3218.0,54667.0,18067,4787.0,261.0
4,Arizona,2014,86887,1039,6126.0,341.0,4567.0,4675.0,85628.0,511,...,0.0,35,474,664.0,3440.0,3206.0,55382.0,17920,5388.0,290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Texas,2017,382050,5284,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,144,2591.0,3550.0,2917.0,3052.0,38319,72128.0,6848.0
246,Texas,2018,378624,5743,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,140,2500.0,3490.0,2876.0,2945.0,39799,73093.0,7222.0
247,Texas,2019,377599,5434,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,174,2517.0,3733.0,2969.0,3051.0,39444,69228.0,6808.0
248,Texas,2020,368190,6294,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,139,2414.0,3861.0,2936.0,2965.0,40418,64967.0,NaN
249,Texas,2021,373594,6567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,130,2455.0,3614.0,3066.0,2925.0,40992,60681.0,NaN

In [46]:
statenatality_df.to_csv('../data/natality_data/StateNatalityDF.csv', index=False)